
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
    Kruti Pandya
    24010101200
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [2]:
name=input("enter your name:")
print(f"Hello {name} ,Welcome to Python Lab")

enter your name kruti

Hello kruti ,Welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [4]:
num1,num2,num3=input("enter numbers:").split(',')
num1=int(num1)
num2=int(num2)
num3=int(num3)
sum= num1+num2+num3
avg=sum/3;
print("numbers:",num1,num2,num3)
print("sum:",sum)
print("avg:",avg)

enter numbers: 10,20,30

numbers: 10 20 30
sum: 60
avg: 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [5]:
name=input("enter your name")
age =input("enter your age")
age=int(age)
percentage=input("enter percentage")
percentage=float(percentage)
print("name:",name) 
print ("type:",type(name))
print("age:",age) 
print ("type:",type(age))
print("percentage:",percentage) 
print ("type:",type(percentage))

enter your name kruti
enter your age 19
enter percentage 99.99

name: kruti
type: <class 'str'>
age: 19
type: <class 'int'>
percentage: 99.99
type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [12]:
print("Python " , " programming " , " Basics",sep='|',end='###')

Python | programming | Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [14]:
value=input("enter value")
print("value:",value)
print("type:",type(value))
print("id:",id(value))

enter value hello

value: hello
type: <class 'str'>
id: 1865469287264

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [15]:
a=10;
print("original id of a:",id(a))
a=20;
print("new id of a:",id(a))

original id of a: 140714128815304
new id of a: 140714128815624

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [31]:
print(""" Welcome to Python
 This is second  lab 
 Enjoy Coding""")

 Welcome to Python
 This is second  lab
 Enjoy Coding

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [47]:
print(f"{'srNo':>5} {'name':<16} {'subject':<6} {'grade':^5} {'percentage':>5}")
print(f"{'1':>5} {'Nisha Patel':<16} {'math':<6} {'A':^5} {'92':>5}")
print(f"{'2':>5} {'Aarav Modi':<16} {'science':<6} {'B+':^5} {'85':>5}")
print(f"{'3':>5} {'Jiya Shah':<16} {'english':<6} {'A+':^5} {'96':>5}")

 srNo name             subject grade percentage
    1 Nisha Patel      math     A      92
    2 Aarav Modi       science  B+      85
    3 Jiya Shah        english  A+      96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [57]:
num=input("enter num:")
num=float(num)
print(f"2 decimal:{num:.2f}")
print(f"3 decimal:{num:.3f}")
print(f"width 10:{num:10.2f}")

enter num: 37.2567

2 decimal:37.26
3 decimal:37.257
width 10:     37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [59]:
num1,num2=input("enter two numbers").split(',')
num1=int(num1)
num2=int(num2)
sum=num1+num2
difference=num1-num2
product=num1*num2
print(f"""sum={sum}
difference={difference}
product={product}""")

enter two numbers 12,8

sum=20
difference=4
product=96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [63]:
date,month,year=input("enter date").split(',')
print(date,month,year, sep=('/'))
print(year,month,date, sep=('-'))

enter date 27,02,2007

27/02/2007
2007-02-27

13) WAP to calculate area and perimeter of a circle.

In [64]:
radius=input("enter radius of circle")
radius=float(radius)
perimeter=2*3.14*radius;
area=3.14*radius**;
print("area:",area)
print("perimeter:",perimeter)

enter radius of circle 1

area: 3.14
perimeter: 6.28

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [70]:
num=input("enter 1 for ferenhite coversion and 2 for celcius conversion")
num=int(num)
if(num==1):
    c =input("enter celcius:")
    c=float(c);
    print(c);
    ferh= (c * 9/5) + c ;
    print(ferh);
elif(num==2):
    f =input("enter ferenhite:")
    f=float(f);
    print(f);
    cel=(f-32)*5/9;
    print(cel);
else:
    print("oops")

enter 1 for ferenhite coversion and 2 for celcius conversion 1
enter celcius: 32

32.0
89.6

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [ ]:
distance=input ("enter distance")
distance=float(distance)
num=input("enter 1 for meter,enter 2 for feet,enter 3 for centimeter");
num=int(num)
if(num==1):
    meter=distance*1000;
    print("meter:",meter)
elif(num==2):
    feet=distance*3280.84
    print("feet:",feet)
elif(num==3):
    inch=distance*39,370.08
    print("feet:",inch)
elif(num==4):
    centi=distance*10000
    print("feet:",centi)
else:
    print("oops!")